@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{

    /*Font-sizes*/
    --font-display: 4.2rem;
    --font-jumbo: 3.6rem;
    --font-xlarge: 3.2rem;
    --font-large: 2.8rem;
    --font-medium: 2.2rem;
    --font-small: 1.8rem;
    --font-xsmall: 1.6rem;
    --font-thin: 1.2rem;

    /*Font-styles*/
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*Backgrounds*/
    --dark-bg: #222020;

    /*Font-colors*/
    --light-font: #ddf4ed;
    --green-font: #0abd81;

    /*Spacings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

html{
    font-size: 62.5%;
    font-family: var(--base-font);

}

img{
    width: 100%;
}

body{
    background-color: var(--dark-bg);
}

.container{
    max-width: 90%;
    margin: 0 auto;
}


/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(158, 157, 157);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

::-webkit-scrollbar-track-piece {
    background: 0 0;
}


/*MAIN-CONTAINER*/
.main-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    min-height: 100vh;
    padding: var(--spacing-68) 0;
}

.main-title{
    font-size: var(--font-display);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--green-font);
}


/*Display Menu*/
.display-menu{
    position: fixed;
    top: 2rem;
    left: 2rem;
    padding: .4rem .4rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: var(--green-font);
    transition: .2s linear;
    border:1px solid transparent;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
}

.display-menu:hover{
    box-shadow: 1px 1px 5px black;
    background: none;
    border-color: var(--green-font);
}

.display-menu .btn_before{
    transition: .2s linear;
}
.display-menu:hover .btn_before{
    width: 100%;
    transform: translateX(100%);
}

.common-graphs{
    display: none;
    width: 30rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    border-right: 1px solid var(--green-font);
    box-shadow: 1px 1px 5px var(--green-font);
    padding: var(--spacing-28) var(--spacing-16);
    flex-direction: column;
    gap: 4rem;
    
}

.grilla{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.common-graphs__title{
    color: var(--light-font);
    font-size: var(--font-medium);
    text-align: right;
}

/*form*/
.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.form__container h2{
    color: var(--light-font);
    font-size: var(--font-medium);
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.form__features{
    position: relative;
}

.form__input{
    font-size: var(--font-xsmall);
    color: black;
    padding: var(--spacing-12) var(--spacing-8);
    font-weight: 400;
    outline: none;
    border: none;
}
.form__input:focus{
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px rgb(157, 153, 153);
}


.input__label{
    font-size: var(--font-xsmall);
    color: var(--green-font);
    position: absolute;
    top: -20px;
    left: 2px;
}

.form__btn{
    padding: var(--spacing-8) var(--spacing-28);
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-size: var(--font-xsmall);
    color: var(--light-font);
    font-weight: 600;
    border: none;
    outline: none;
    background-color: var(--green-font);
    position: relative;
    overflow: hidden;
    transition: .2s linear;
    border:1px solid transparent;
}

.btn_before{
    display: block;
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    background-color: rgba(205, 203, 203, 0.394);
    transition: .4s linear;
    clip-path: polygon(63% 0, 100% 0%, 75% 100%, 39% 100%);
    
}


.form__btn:hover{
    box-shadow: 1px 1px 5px black;
    color: var(--green-font);
    background: none;
    border-color: var(--green-font);
}
.form__btn:hover .btn_before{
    width: 100%;
    transform: translateX(100%);
}

.input-container{
    display: flex;
    gap: 1rem;
}



/*Animations*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

